.search {
  margin-top: 1em;
}

.course {
  margin-bottom: 1em !important;
  border-radius: 1em !important;
}

.course-list {
  margin-top: 2em;
  margin-bottom: 3em;
}

.course-name {
  font-size: larger !important;
}

.course-description {
  color: #777;
}

.placeholder-bottom {
  height: 50rpx;
}